body, html
{
    overflow-x: hidden;
      padding-top: 54px;
}


@-ms-viewport{
  width: device-width;
}

.nav-item{
  padding-left: 40px;
}

.banner{
  overflow: hidden;
  min-width: 100vw;
  min-height: 100vh;

}

.landingbanner{
  display:block;
  margin: auto;
  padding-top: 100px;
  padding-bottom:100px;
  width: 100%;
  height: 100%;
  max-width: 700px;
  max-height: 800px;
}

@font-face {
  font-family: valsdayscript;
  src: url('/fonts/valsdayscript.woff') format('woff'),
  url('/fonts/valsday.ttf') format('truetype');
  font-weight: normal;
}

#aboutRectangle{
    width:100vw;
    height:40px;
    background:white;
    opacity: 0.3;
    margin-top: -100px;
    z-index: -1;
    position: absolute;
}

.editApptlink{

  left: 0;
  bottom: 0;
  padding-top: 90px;
}

.editServiceslink{
  left: 0;
  bottom:0;
}

.editAboutlink{
  position: absolute;
  left: 0;
  bottom: 0;
  margin-top: 40px;
}
.aboutSection{
  background-image: url('/images/pinkWatercolor.png');
  background-position: center top;
  height: 600px;
  background-size: cover;
  position: relative;
  z-index: 1;
}

#contactTitle{
  font-family: valsdayscript;
  font-size: 70px;
  z-index: 1;
  position: relative;
}

.contactSection{
  text-align: center;
  background-image: url('/images/pinkWatercolor.png');
    background-position: center top;
      background-size: cover;
}

#contactRectangle{
  margin-top: -80px;
  width:200px;
  height:40px;
  background:white;
  opacity: 0.3;
  z-index: 0;
  position: absolute;
}
#contactContent{
  display: inline-block;
  text-align: left;
  margin-top: -20px;
  padding-bottom: 30px;
}
#aboutTitle{
  padding-left: 30px;
  font-family: valsdayscript;
  font-size: 100px;
}

.aboutDetails{
  height: 300px;
  width: 80vw;
  margin: auto;
  margin-top: 30px;
}

#servicesRectangle{
    width:100vw;
    height:40px;
    background: #5f5f5f;
    margin-top: -100px;
}

#servicesTitle{
  padding-left: 30px;
  font-family: valsdayscript;
  font-size: 100px;
  width: 100vw;
  color: white;
  text-shadow:
      -2px -2px 0 #000,
       2px -2px 0 #000,
      -2px  2px 0 #000,
       2px  2px 0 #000;
}

.servicesSection{
  height: 600px;
  margin: auto;
  height: 100%;
}

.apptSection{
  height: 800px;
  background-color: #5f5f5f;
  height: 100%;
  position: relative;

}

#apptTitle{
  padding-left: 30px;
  font-family: valsdayscript;
  font-size: 100px;
  color: white;


}

.apptDetails{
  padding-left: 30px;
  margin-right: auto;
  color: white;
}
#apptRectangle{
  width:190px;
  height:5px;
  background: #fff;
  position:absolute;
  margin-top: 100px;
  margin-left: -190px;

}

.calendly-inline-widget{
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.calendly{
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 30px;
  margin-bottom: 30px;


}

.browImage{
  overflow:hidden;
  padding: 40px;
}


#browImageContainer{
  margin: auto;
  overflow-x:hidden;

}
