<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../static/partials/head.ejs %>


    <title>Brows by Chia</title>

  </head>
  <body>

      <!-- Navigation -->
    <% include ../static/partials/navbar.ejs %>



<main>


  <div>
        <div class="row text-center banner" id="homeSection">
          <img class="landingbanner" src="/images/chiaBrowLogo.png">
        </div>

<div class="aboutDiv">
        <div class="aboutSection" id="aboutSection">
                  <a class="aboutAnchor" id="aboutAnchor"></a>
          <span id="aboutTitle">
            About
          </span>
                <div id="aboutRectangle"></div>
                <div class="aboutDetails">
                  <% about.forEach((aboutSections) => { %>

                        <li class="list-group-item">
                          <a href="/about/<%= aboutSections.id %>"> <%= aboutSections.title %> </a>
                        </li>
                      <% }) %>

                </div>

        </div>
        <% if(currentUser) { %>
           <a href="/about/new" class="btn btn-success">New About Details</a>
         <% } %>
</div>

        <div class="servicesSection ">
          <span id="servicesTitle">
            Services
          </span>
          <div id="servicesRectangle"></div>
            <div class="row">
              <div id="browImageContainer" class=" col-sm">
                <img class="browImage img-fluid" src="/images/powderBrowSample.png">
              </div>
              <div class="col-sm border">
                content
              </div>
            </div>
          </div>

        <div class="apptSection container-fluid">
          <span id="apptTitle">
            Appointments
          </span>
          <div class="row">
            <div class="col-sm">content</div>
            <div class="col-sm border">
              <!-- Calendly inline widget begin -->
              <div class="calendly-inline-widget" data-url="https://calendly.com/browsbychia" style="min-width:320px;height:580px;"></div>
              <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js"></script>
              <!-- Calendly inline widget end -->
            </div>
            </div>
          </div>
  </div>
</main>



<% include ../static/partials/baseScripts.ejs %>

    </body>
</html>
