<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <main class="container">
      <% include ../static/partials/navbar.ejs %>

      <h1>Topics</h1>

      <ul class="list-group">

        <% about.forEach((about) => { %>

          <li class="list-group-item">
            <a href="/about/<%= about.id %>"> <%= about.title %> </a>
          </li>
        <% }) %>
      </ul>

    </main>
  </body>
</html>
